/* Estilos básicos */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050542;
    color: #ffffff;
}

/* Contenedor de la imagen de fondo */
.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2%;
}

/* Imagen de fondo */
.image-container img {
    width: 100%;
    height: auto;
    max-width: 445px;
    max-height: 255px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Botón sobre la imagen */
.image-container button {
    position: absolute;
    top: 69%;
    left: 46.5%; /* Ajusta este valor para mover ligeramente el botón a la izquierda en todas las pantallas */
    transform: translate(-50%, -50%);
    padding: 1% 3%;
    font-size: 16px;
    background-color: #32bb52;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.image-container button:hover {
    background-color: #28a344;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Carrusel de imágenes */
.carousel-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 100%;
    max-width: 445px;
    aspect-ratio: 445 / 255;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 8px;
}

.carousel-container img.active {
    display: block;
}

/* Estilo del footer */
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    font-size: 14px;
}

/* Ocultar secciones por defecto */
.hidden {
    display: none;
}

/* Botones de opciones */
.opcion-uso,
#volver-btn,
#volver-carrusel-btn,
#siguiente-btn {
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #2657c2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.opcion-uso:hover,
#volver-btn:hover,
#volver-carrusel-btn:hover,
#siguiente-btn:hover {
    background-color: #1442a3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Contenedor de elementos con imágenes */
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item {
    text-align: center;
    background-color: #20232a;
    border: 2px solid #8b8b8b;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item.selected {
    border-color: #20c21a;
    transform: scale(1.05);
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Ajuste para pantallas de 412 x 914 */
@media screen and (max-width: 412px) and (max-height: 914px) {
    .carousel-container {
        top: 15%; /* Mueve la imagen hacia abajo */
        transform: translate(-50%, -15%);
        width: 100%; /* Aumenta el ancho de la imagen al 100% */
        max-width: 600px; /* Aumenta el tamaño máximo permitido */
    }
}

/* Ajuste para pantallas de 412 x 896 */
@media screen and (max-width: 412px) and (max-height: 896px) {
    .carousel-container {
        top: 55%; /* Mueve la imagen hacia abajo */
        transform: translate(-50%, -55%);
    }
}

/* Ajuste para pantallas de 375 x 667 */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .carousel-container {
        top: 5%; /* Mueve la imagen hacia arriba */
        transform: translate(-50%, -5%);
    }
}

/* Ajuste para pantallas de 390 x 844 */
@media screen and (max-width: 390px) and (max-height: 844px) {
    .carousel-container {
        top: 15%; /* Mueve la imagen hacia abajo */
        transform: translate(-50%, -15%);
    }
}

/* Media queries para dispositivos más pequeños */
@media screen and (max-width: 767px) {
    .carousel-container {
        width: 90%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .carousel-container {
        width: 80%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
}

/* Ajuste para pantallas grandes */
@media screen and (min-width: 991px) {
    .carousel-container {
        left: 45%; /* Ajusta este valor para mover la imagen hacia la izquierda */
        transform: translate(-45%, -10%);
    }
}

/* Ajuste para pantallas de 1024 x 600 */
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .carousel-container {
        left: 44%; /* Ajusta este valor para mover la imagen hacia la izquierda */
        transform: translate(-45%, -10%);
    }
}
